/*
=============== 
Variables
===============
*/

:root {
  --bg-color-primary: rgba(53, 56, 54, 0.75);
  --clr-primary: #e62429;
  --clr-secondary: #202020;
  --clr-tertiary: #151515;
  --clr-blue: #70a1cf;
  --clr-yellow: #f5c771;
  --clr-black: #222;
  --clr-white: #fff;

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --transition: all 0.2s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s linear;
}
.wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}
hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  color: #fff;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-toggle);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.m-sm-y {
  margin: 1rem 0;
}
.m-m-y {
  margin: 1.5rem 0;
}
.m-l-y {
  margin: 2rem 0;
}
.m-sm-x {
  margin: 1rem 0;
}
.m-m-x {
  margin: 1.5rem 0;
}
.m-l-x {
  margin: 2rem 0;
}

.btn {
  padding: 1rem;
  text-transform: uppercase;
  margin: 5px;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 400;
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  border-color: transparent;
  color: var(--clr-toggle);
}
.btn-primary {
  background-color: var(--clr-secondary);
}
.btn-secondary {
  background-color: var(--clr-tertiary);
}
.btn-tertiary {
  background-color: var(--clr-blue);
}

/* section */
.section {
  padding: 5rem 0;
}
